<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица</title>
</head>
<body style="color:#000000; background-color:#dbffe3">

<h1><a href="{% url 'json_needtobuy' %}">Список запчестей которые надо докупить</a></h1>

<table border="1">
  <tr>
    <td>*****</td>
      <td><b>COUNT</b></td>
      <td><b>ARRIVE</b></td>
      <td><b>MUSTBE</b></td>
  </tr>

    {% for key, value in context.items %}
        {% if value.sum < value.mustbe %}
        <tr style="color:#ff1400; font-weight:bolder; text-decoration: underline">
        {% else %}
        <tr>
        {% endif %}

    <td>{{key}}</td>
    <td>{{value.count}}</td>
    <td>{{value.arrive}}</td>
    <td>{{value.mustbe}}</td>

    {% endfor %}

</table>


</body>
</html>